body {
    font-family: 'Montserrat', sans-serif;
    background-color: rgb(226, 246, 255);
}

*{
    box-sizing: border-box;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 10px;
}

.inner {
    max-width: 1000px;
    margin: 0 auto;
    padding-top: 50px;
    text-align: center;
}

h1 {
    font-size: 35px;
    line-height: 40px;
    margin-bottom: 20px;
    font-weight: 700;
}

h2 {
    font-size: 30px;
    line-height: 35px;
    font-weight: 600;
    margin-bottom: 50px;
}

h3 {
    font-size: 25px;
    line-height: 30px;
    font-weight: 400;
}

.btns {
    max-width: 100%;
    margin-top: 30px;
    
}

.btn__block {
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    p {
        display: inline-block;
        font-size: 20px;
    }
    
}

.btn__block + .btn__block {
    margin-top: 25px;
}

.btn {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 22px;
    margin-left: 10px;
    color: #000;
    padding: 15px 30px;
    font-weight: 700;
    letter-spacing: 1px;
    transition: all .3s;
    max-width: 650px;
    border-radius: 6px;
    width: 100%;
    &:hover {
        transform: translateY(-5px);
    }
}

.wildberries {
    background-color: rgb(127, 0, 195);
    color: #fff;
    transition: all .3s;
    &:hover {
        background-color: rgb(171, 57, 232);
    }
}

.ozon {
    background-color: rgb(37, 99, 255);
    color: #fff;
    transition: all .3s;
    &:hover {
        background-color: rgb(104, 147, 255);
    }
}

.opt {
    background-color: rgb(0, 172, 29);
    color: #fff;
    transition: all .3s;
    &:hover {
        background-color: rgb(34, 211, 64);
    }
}

.roznic {
    background-color: #ff9aff;
    color: #fff;
    transition: all .3s;
    &:hover {
        background-color: #fc87fc;
    }
}

@media (max-width: 670px){
    h1 {
        font-size: 27px;
        line-height: 30px;
        margin-bottom: 10px;
    }
    
    h2 {
        font-size: 23px;
        line-height: 27px;
        margin-bottom: 20px;
    }

    h3 {
        font-size: 19px;
        line-height: 24px;
    }

    .btns {
        margin-top: 25px;
    }

    .btn {
        font-size: 16px;
        line-height: 19px;
    }
}